.ArrivalsLine {
  display: flex;
  margin: 0 auto;
  padding: 20px 0;
  justify-content: center;
  background-color: #fff;
  margin-bottom: 12px;
  border-radius: 4px;
  width: 80%;
}

.lineItem {
  width: 20%;
  word-break: break-word;
  text-align: center;
}
