.hero {
  position: relative;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  text-align: center;
  font-size: 48px;
  line-height: 1.5;
  font-weight: 600;
  width: 60%;
  margin-bottom: 20px;
  span {
    font-weight: 700;
  }
  @media (max-width: 767px) {
    font-size: 38px;
    width: 80%;
  }
  @media (max-width: 376px) {
    font-size: 32px;
    width: 90%;
  }
}
