.hero {
  position: relative;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: 3vw; /* Размер текста по ширине экрана */
  text-align: center;
  line-height: 1.5;
  font-weight: 600;
  margin-bottom: 20px;
  span {
    font-weight: 700;
  }
  @media screen and (max-width: 768px) {
    font-size: 5vw; /* На устройствах с шириной экрана до 768px, увеличиваем размер текста */
  }

  @media screen and (orientation: landscape) {
    font-size: 2.5vw; /* В горизонтальной ориентации уменьшаем размер текста */
  }
}
