.DisplayArrivals {
  text-align: center;
}

.headingLine {
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  margin-bottom: 8px;
  width: 80%;
  @media (width <= 560px) {
    width: 90%;
  }
}

.headingLineItem {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 4px;
  font-weight: 400;
  width: 20%;
  word-break: break-word;
  text-align: center;
}

.stopName {
  padding-bottom: 14px;
}

.routeNumberDesktop {
  display: block;
  @media (width <= 480px) {
    display: none;
  }
}
