.ContactsPage {
  height: calc(100vh - 140px);
  width: 100%;
  padding: 0 40px;
  background-color: #f4f4f4;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 576px) {
    padding: 0 40px;
  }
  @media (min-width: 1400px) {
    padding: 0 80px;
  }
}

a {
  text-decoration: none;
  color: #1e1e1e;
}

#contacts {
  width: 100%;
}

.text {
  text-align: center;

  h1 {
    margin-bottom: 20px;
  }
  p {
    margin-bottom: 10px;
  }
}

.contactsLinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 28px;
  margin-top: 32px;
  .email,
  .telegram,
  .github {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      transform: scale(0.98);
    }
  }

  .email {
    &::before {
      content: url("../../../shared/assets/icons/icon-post.svg");
      height: 34px;
      width: 34px;
      padding-right: 4px;
    }
  }
  .telegram {
    &::before {
      content: url("../../../shared/assets/icons/icon-telegram.svg");
      height: 34px;
      width: 34px;
      padding-right: 4px;
    }
  }
  .github {
    &::before {
      content: url("../../../shared/assets/icons/icon-github.svg");
      height: 34px;
      width: 34px;
      padding-right: 4px;
    }
  }
}
