$breackpoint-sm-min: 576px;
$breackpoint-xs-max: $breackpoint-sm-min - 1px;
$breackpoint-md-min: 768px;
$breackpoint-sm-max: $breackpoint-md-min - 1px;
$breackpoint-lg-min: 992px;
$breackpoint-md-max: $breackpoint-lg-min - 1px;
$breackpoint-xl-min: 1200px;
$breackpoint-lg-max: $breackpoint-xl-min - 1px;
$breackpoint-xxl-min: 1400px;
$breackpoint-xl-max: $breackpoint-xxl-min - 1px;

main {
  padding-top: 20px;
  padding-bottom: 20px;
  input,
  select {
    padding: 5px;
    border: 0;
  }
  input {
    border-bottom: 1px solid black;
  }
  h2 {
    text-align: center;
  }
}

.btn {
  box-sizing: border-box;
  display: inline-block;
  font-size: 16px;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  cursor: pointer;
  background: none;
  padding: 14px;
  text-decoration: none;
  transition: 0.2s;
  &--red {
    background-color: #ffd7d7;
    color: #d43f3f;
    border: 1px solid;
    border-color: transparent;

    &:hover {
      background-color: darken(#ffd7d7, 12%);
    }
    .material-symbols-outlined {
      font-size: 20px;
      vertical-align: bottom;
      width: 20px;
    }
  }
  &--velvet {
    background-color: #d9afed;
    color: #482757;
    margin: 4px;
    border: 1px solid;
    border-color: transparent;
    &:hover {
      background-color: darken(#d9afed, 12%);
    }
  }
}

.search-form {
  width: fit-content;
  margin: 0 auto;
  &__input {
    display: block;
    margin: 10px auto;
    font-size: 32px;
    transition: 0.2s;
    &--small {
      font-size: 18px;
    }
    &:focus-visible {
      outline: 0;
      font-size: 32px;
    }
  }
}

.arrivals-filters {
  display: flex;
  justify-content: center;
}

.stops-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .fav-descr {
    width: 100%;
    font-size: 14px;
    text-align: center;
    &__text {
      padding-top: 10px;
      padding-bottom: 5px;
    }
  }
}

.arrivals {
  text-align: center;

  &__line {
    cursor: pointer;
    width: 80%;
    margin: 0 auto;
    display: flex;
    &:nth-child(even) {
      background-color: #f3ec75;
    }

    &:nth-child(odd):not(:first-child) {
      background-color: #dab2ed;
    }
    &:nth-child(2) {
      background-color: #dddddd;
    }
    &:hover:nth-child(n + 3) {
      transform: scale(1.02);
      z-index: 1;
      transition: transform 0.2s;
    }

    @media (max-width: $breackpoint-xs-max) {
      width: 100%;
    }
  }
  &__item {
    width: 20%;
    word-break: break-word;
    text-align: center;
    padding: 10px;

    &--now {
      font-weight: bold;
      color: #269c08;
    }
    &--gone {
      font-weight: bold;
      color: #fd4f10;
    }
  }
}

.lds-dual-ring {
  display: block;
  &:after {
    content: " ";
    display: block;
    margin: 0 auto;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 6px solid #ffee00;
    border-color: #ffee00 transparent #ffee00 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
}

.arrivals-section__add-to-fav {
  text-align: center;
  font-size: 12px;
  width: 50 px;
  color: #787878;
  &:hover {
    .material-symbols-outlined.fav {
      color: #f15bb5;
    }
  }
  &:has(.filled) {
    color: #f15bb5;
  }
}

.drop-fav {
  position: fixed;
  top: 10px;
  right: 10px;
  cursor: pointer;
  opacity: 0;
  animation: drop 0.4s linear forwards 0.6s;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes drop {
  0% {
    transform: translateY(-200px) scaleY(0.9);
    opacity: 0;
  }
  5% {
    opacity: 0.7;
  }
  50% {
    transform: translateY(0px) scaleY(1);
    opacity: 1;
  }
  65% {
    transform: translateY(-17px) scaleY(0.9);
    opacity: 1;
  }
  75% {
    transform: translateY(-22px) scaleY(0.9);
    opacity: 1;
  }
  100% {
    transform: translateY(0px) scaleY(1);
    opacity: 1;
  }
}

.reset-filters-button {
  font-size: 14px;
  color: #d43f3f;
  &:hover {
    color: #fd4f10;
  }
  .material-symbols-outlined {
    vertical-align: bottom;
    font-size: 20px;
  }
}

.material-symbols-outlined.fav {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 48;
  color: #787878;

  &.filled {
    font-variation-settings: "FILL" 1;
    color: #f15bb5;
  }
  &:focus {
    outline: 0;
  }

  &:before,
  &:after {
    position: absolute;
    content: "";
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
  }

  &:before {
    display: none;
    top: -75%;
    background-image: radial-gradient(circle, #f15bb5 20%, transparent 20%),
      radial-gradient(circle, transparent 20%, #f15bb5 20%, transparent 30%),
      radial-gradient(circle, #f15bb5 20%, transparent 20%),
      radial-gradient(circle, #f15bb5 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #f15bb5 15%, transparent 20%),
      radial-gradient(circle, #f15bb5 20%, transparent 20%),
      radial-gradient(circle, #f15bb5 20%, transparent 20%),
      radial-gradient(circle, #f15bb5 20%, transparent 20%),
      radial-gradient(circle, #f15bb5 20%, transparent 20%);
    background-size:
      10% 10%,
      20% 20%,
      15% 15%,
      20% 20%,
      18% 18%,
      10% 10%,
      15% 15%,
      10% 10%,
      18% 18%;
  }

  &:after {
    display: none;
    bottom: -75%;
    background-image: radial-gradient(circle, #f15bb5 20%, transparent 20%),
      radial-gradient(circle, #f15bb5 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #f15bb5 15%, transparent 20%),
      radial-gradient(circle, #f15bb5 20%, transparent 20%),
      radial-gradient(circle, #f15bb5 20%, transparent 20%),
      radial-gradient(circle, #f15bb5 20%, transparent 20%),
      radial-gradient(circle, #f15bb5 20%, transparent 20%);
    background-size:
      15% 15%,
      20% 20%,
      18% 18%,
      20% 20%,
      15% 15%,
      10% 10%,
      20% 20%;
  }

  &:active {
    transform: scale(0.9);
  }

  &.animate {
    &:before {
      display: block;
      animation: topBubbles ease-in-out 0.75s forwards;
    }
    &:after {
      display: block;
      animation: bottomBubbles ease-in-out 0.75s forwards;
    }
  }
}

@keyframes topBubbles {
  0% {
    background-position:
      5% 90%,
      10% 90%,
      10% 90%,
      15% 90%,
      25% 90%,
      25% 90%,
      40% 90%,
      55% 90%,
      70% 90%;
  }
  50% {
    background-position:
      0% 80%,
      0% 20%,
      10% 40%,
      20% 0%,
      30% 30%,
      22% 50%,
      50% 50%,
      65% 20%,
      90% 30%;
  }
  100% {
    background-position:
      0% 70%,
      0% 10%,
      10% 30%,
      20% -10%,
      30% 20%,
      22% 40%,
      50% 40%,
      65% 10%,
      90% 20%;
    background-size:
      0% 0%,
      0% 0%,
      0% 0%,
      0% 0%,
      0% 0%,
      0% 0%;
  }
}

@keyframes bottomBubbles {
  0% {
    background-position:
      10% -10%,
      30% 10%,
      55% -10%,
      70% -10%,
      85% -10%,
      70% -10%,
      70% 0%;
  }
  50% {
    background-position:
      0% 80%,
      20% 80%,
      45% 60%,
      60% 100%,
      75% 70%,
      95% 60%,
      105% 0%;
  }
  100% {
    background-position:
      0% 90%,
      20% 90%,
      45% 70%,
      60% 110%,
      75% 80%,
      95% 70%,
      110% 10%;
    background-size:
      0% 0%,
      0% 0%,
      0% 0%,
      0% 0%,
      0% 0%,
      0% 0%;
  }
}

select {
  background: rgba(0, 0, 0, 0);
}
