.ArrivalsLine {
  display: flex;
  margin: 0 auto;

  justify-content: space-around;
  background-color: #fff;
  margin-bottom: 12px;
  border-radius: 8px;
  width: 80%;
  @media (width <= 560px) {
    width: 90%;
  }
}

.lineItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  word-break: break-word;
  text-align: center;
  padding: 20px 0;

  .routeNumberMobile {
    display: none;
    @media (width <= 480px) {
      display: inline;
    }
  }
}

.routeNumberDesktop {
  display: inherit;
  @media (width <= 480px) {
    display: none;
  }
}
