.ArrivalsLine {
  display: flex;
  margin: 0 auto;

  justify-content: space-around;
  background-color: #fff;
  margin-bottom: 12px;
  border-radius: 8px;
  width: 80%;
}

.lineItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  word-break: break-word;
  text-align: center;
  padding: 20px 0;
  /* &:first-child {
  //   background:
  //     // -webkit-linear-gradient(rgba(135, 60, 255, 1), rgba(135, 60, 255, 0) 0%),
  //     -webkit-linear-gradient(-45deg, rgba(208, 208, 208, 0.9) 45%, rgb(255, 255, 255) 0%);
  // }
  */
  span {
    display: none;
    @media (width <= 480px) {
      display: inline;
    }
  }
}

.routeNumberDesktop {
  display: block;
  @media (width <= 480px) {
    display: none;
  }
}
