.MainPage {
  width: 100%;
  padding: 0 40px;
  background-color: #f4f4f4;
  transition: 0.3s;

  @media (max-width: 576px) {
    padding: 0 10px;
  }
  @media (min-width: 1400px) {
    padding: 0 80px;
  }
}

#hero {
  height: calc(100vh - 70px);
  max-height: calc(100dvh - 70px);
}

#stops {
  min-height: 100vh;
}

@supports (min-height: 100dvh) {
  #stops {
    min-height: 100dvh;
  }
}
