#container {
  position: relative;
  top: 0;
  height: calc(100vh - 70px);
  width: 100%;
  padding: 0 40px;
  background-color: #f4f4f4;
  scroll-behavior: smooth;
  overflow: auto;
  scroll-snap-type: y mandatory;
  transition: 0.3s;
  &.scrolled {
    top: -70px;
  }

  @media (max-width: 576px) {
    padding: 0 10px;
  }
  @media (min-width: 1400px) {
    padding: 0 80px;
  }
}

section {
  width: 100%;
  height: calc(100vh - 70px);
  background-size: cover;
  scroll-snap-align: start;
}

.navbar {
  display: none;
}
