.AddToFavButton {
  position: relative;
  background-image: url("/src/shared/assets/icons/favorite-empty.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid gray;
  border-top: 0;
  border-radius: 0 0 6px 6px;
  background-size: 24px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  text-align: center;
  color: #787878;
  height: 42px;
  width: 42px;
  &.filled {
    background-image: url("/src/shared/assets/icons/favorite-filled.svg");
  }

  &:focus {
    outline: 0;
  }

  &:before,
  &:after {
    position: absolute;
    content: "";
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
  }

  &:before {
    display: none;
    top: -75%;
    background-image: radial-gradient(circle, #f15bb5 20%, transparent 20%),
      radial-gradient(circle, transparent 20%, #f15bb5 20%, transparent 30%),
      radial-gradient(circle, #f15bb5 20%, transparent 20%), radial-gradient(circle, #f15bb5 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #f15bb5 15%, transparent 20%),
      radial-gradient(circle, #f15bb5 20%, transparent 20%), radial-gradient(circle, #f15bb5 20%, transparent 20%),
      radial-gradient(circle, #f15bb5 20%, transparent 20%), radial-gradient(circle, #f15bb5 20%, transparent 20%);
    background-size:
      10% 10%,
      20% 20%,
      15% 15%,
      20% 20%,
      18% 18%,
      10% 10%,
      15% 15%,
      10% 10%,
      18% 18%;
  }

  &:after {
    display: none;
    bottom: -75%;
    background-image: radial-gradient(circle, #f15bb5 20%, transparent 20%),
      radial-gradient(circle, #f15bb5 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #f15bb5 15%, transparent 20%),
      radial-gradient(circle, #f15bb5 20%, transparent 20%), radial-gradient(circle, #f15bb5 20%, transparent 20%),
      radial-gradient(circle, #f15bb5 20%, transparent 20%), radial-gradient(circle, #f15bb5 20%, transparent 20%);
    background-size:
      15% 15%,
      20% 20%,
      18% 18%,
      20% 20%,
      15% 15%,
      10% 10%,
      20% 20%;
  }

  &:active {
    background-size: 22px;
  }

  &.animate {
    &:before {
      display: block;
      animation: topBubbles ease-in-out 0.75s forwards;
    }
    &:after {
      display: block;
      animation: bottomBubbles ease-in-out 0.75s forwards;
    }
  }
}

.dropFav {
  position: absolute;
  top: 0px;
  right: 40px;
  cursor: pointer;
  opacity: 0;
  animation: drop 0.4s linear forwards 0.8s;
}

.textFadeInOut {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
  animation: fadeInOut 2s ease-in-out;
}

@keyframes drop {
  0% {
    transform: translateY(-200px) scaleY(0.9);
    opacity: 0;
  }
  5% {
    opacity: 0.7;
  }
  50% {
    transform: translateY(0px) scaleY(1);
    opacity: 1;
  }
  65% {
    transform: translateY(-17px) scaleY(0.9);
    opacity: 1;
  }
  75% {
    transform: translateY(-22px) scaleY(0.9);
    opacity: 1;
  }
  100% {
    transform: translateY(0px) scaleY(1);
    opacity: 1;
  }
}

@keyframes topBubbles {
  0% {
    background-position:
      5% 90%,
      10% 90%,
      10% 90%,
      15% 90%,
      25% 90%,
      25% 90%,
      40% 90%,
      55% 90%,
      70% 90%;
  }
  50% {
    background-position:
      0% 80%,
      0% 20%,
      10% 40%,
      20% 0%,
      30% 30%,
      22% 50%,
      50% 50%,
      65% 20%,
      90% 30%;
  }
  100% {
    background-position:
      0% 70%,
      0% 10%,
      10% 30%,
      20% -10%,
      30% 20%,
      22% 40%,
      50% 40%,
      65% 10%,
      90% 20%;
    background-size:
      0% 0%,
      0% 0%,
      0% 0%,
      0% 0%,
      0% 0%,
      0% 0%;
  }
}

@keyframes bottomBubbles {
  0% {
    background-position:
      10% -10%,
      30% 10%,
      55% -10%,
      70% -10%,
      85% -10%,
      70% -10%,
      70% 0%;
  }
  50% {
    background-position:
      0% 80%,
      20% 80%,
      45% 60%,
      60% 100%,
      75% 70%,
      95% 60%,
      105% 0%;
  }
  100% {
    background-position:
      0% 90%,
      20% 90%,
      45% 70%,
      60% 110%,
      75% 80%,
      95% 70%,
      110% 10%;
    background-size:
      0% 0%,
      0% 0%,
      0% 0%,
      0% 0%,
      0% 0%,
      0% 0%;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
